# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: pypi

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

jobs:

  build:
    # needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
        # Use macos because it can be used with cibuildwheel 
        # to make mac & linux distributions

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          make dev
          make requirements
          pip install cibuildwheel
      
      - name: Install Cython code
        run: |
          make build-cython
      
      - name: Test with pytest
        run: |
          make test
      
      # build source distribution for versions wheels arent build. 
      - name: Build source distribution
        run: |
          python setup.py sdist -d wheelhouse
      
      # build "built-distributions" for most Mac/Linux versions. 
      - name: Build built-distributions for MacOS & Linux
        run: |
          cibuildwheel --platform linux .
          cibuildwheel --platform macos .

      # Push distribution to PyPi (test?)
      - name: Build and Upload to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TWINE_TEST_TOKEN }}
          TWINE_REPOSITORY_URL: https://test.pypi.org/legacy/
          # To install using test.pypi if there are extra dependencies
          # you need to tell test.pypi where to find them (otherwise it will look
          # in its own repositories and not find them). This can be done by providing
          # the flag: --extra-index-url https://pypi.org/simple
        run: |          
          twine upload --skip-existing wheelhouse/*
        
