name: Bump version
on:
  push:
    branches:
      - master
jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.36.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
  
  commit-bump:
    runs-on: ubuntu-latest
      steps:
      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          add: ''